pom.xml
*jar
lib
classes
outline*.html
docs
.lein*
/results.txt
*.properties
!resources/log4j.properties
/wiki
test-output.txt
chromedriver.log
/autodoc
/doc
*.tar.gz
/target/
/test.log
/resources/properties.clj
.vagrant
*.log